<div class="col-md-8 stats-info stats-info1 col-xs-12 col-sm-12" style="overflow:scroll;text-overflow:ellipsis;white-space:nowrap;overflow-x:hidden;height:434px;background:none;">
<div style="width:102%;padding-left: 15px;background: #ffffff;height:428px;">
                <div class="panel-heading">
                    <h4 class="panel-title" style="color:#05e4a1;font-weight: bold;">当前委托{{ mount }}</h4>
                </div>
                <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="align_left"><input type="checkbox" id="chk_all"></th>
                        <th class="align_left">委托时间</th>
                        <th class="align_left">类型</th>
                        <th>委托价格(¥)</th>
                        <th>委托数</th>
                        <th class="align_center">状态</th>
                        <th class="align_right">操作</th>
                    </tr>
                </thead>
                <tbody id="order_list">
                {% for order in orders %}
                    <tr>
                        <td class="align_left" >
                            <input type="checkbox" name="chk_list">
                        </td>
                        <td class="entrust_time">{% import time %}{{ time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(order['order_time'])) }}</td>
                        <td class="align_left"><span class="">{{ '买入' if order['type']==1 else '卖出' }}</span></td>      
                        <td class="order_price align_center">{{ order['order_price'] }}</td>             
                        <td>Ł<span class="order_amount">{{ order['order_amount'] }}</span></td>                    
                        <td class="align_center"><span>未成交</span> </td>             
                        <td>
                        <button type="button" class="btn btn-primary btn-xs cancel"  id="{{ order['id'] }}" style="color:white;margin:0">撤单</button>
                        </td>
                    </tr>
                    {% end %}
                    </tbody>    
                    </table> 
                    {% if len(orders) > 0 %}  
                    <button type="button" class="btn btn-primary" id="orderCancel" style="color:white;">撤销勾选委托</button>
                    {% end %}
                <div class="clearfix"> </div>
</div>
</div>
<style>
.align_center{
    text-align: center;
}
</style>

<script>
$(function(){
  $(".cancel").click(cancelOrder);
  $("#chk_all").click(function() {
    if(this.checked==true){
    $('input[name="chk_list"]').prop("checked",true); 
    }
    else{
      $('input[name="chk_list"]').prop("checked",false); 
    }
  });
  var $subBox = $("input[name='chk_list']");
  $subBox.click(function(){
  $("#chk_all").prop("checked",$subBox.length == $("input[name='chk_list']:checked").length ? true : false);
  });
});

function cancelOrder(){
    var oid = this.id
    var $e = $('#'+oid).parents('tr');
    var url = 'ws://'+window.location.host+'/api/entrustCancel'
    var ws = new WebSocket(url);
    ws.onopen = function(){
      ws.send(oid.toString());
    }
    ws.onmessage = function(event) {
    var data = JSON.parse(event.data);
    if (data['result'] == "success"){
      $e.fadeOut()
      sweetAlert("撤单成功", "", "success")
      ws.close();
    }else{
      sweetAlert("撤单失败", "", "error");
      ws.close();
    }
};
}



</script>