<style>
    .trade-border{
        padding-top:5px;
    }
</style>
<div class="col-md-4 stats-info stats-info1 col-sm-4 span_3" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:590px;">

                <div class="panel-heading">
                    <h4 class="panel-title" style="color:#05e4a1">交易信息</h4>
                </div>
                <div class="panel-body panel-body2 trade-border" >
                    <ul class="list-unstyled">
                        <li id="dealnext" class="loading">Loading</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
<style>
div ul li.add_style{
    color: #05e4a1;
    font-size: 15px;
    font-weight:800; 
}
</style>
<script>

</script>